pkgbase = dream
	pkgdesc = Software radio for AM and Digital Radio Mondiale (DRM)
	pkgver = r126.ecc5c476
	pkgrel = 1
	url = https://sourceforge.net/projects/drm
	arch = i686
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cmake
	makedepends = qt6-webengine
	depends = alsa-lib
	depends = fftw
	depends = glibc
	depends = gpsd
	depends = hamlib
	depends = libfdk-aac
	depends = libgcc
	depends = libsndfile
	depends = libstdc++
	depends = qt6-base
	depends = qwt
	depends = speexdsp
	depends = zlib
	source = dream::git+https://github.com/Drm-tools/dream.git#branch=qt6
	sha256sums = SKIP

pkgname = dream
